@import "../../assets/styles/partials/colors.scss";

.wrapper-card-info {
  height: 80px;
  width: 70px;
  border-radius: 10px;
  background-color: $background;

  .wrapper-name {
    margin-top: 30px;
  }

  .wrapper-value {
    margin-top: 8px;
  }
}