@import "./partials/colors.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

@font-face {
  font-family: Neuzeit;
  src: url('../fonts/NeuzeitGrotesk.otf') format('opentype');
}

body {
  font-family: Neuzeit, 'open-sans';
  background-color: $background;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='234' height='234' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23fffcfc' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  transition: background-color 2s linear,
            right .6s ease-out 1s,
  transform 1s steps(3, start);
  color: $text-color;
}

button:focus {
  outline:none;
}

button:active {
  transform: translateY(4px);
}